<!DOCTYPE html>
<html lang="de">

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- To add head data on the html pages -->
    {% block head %}
    {% endblock %}
</head>

</html>
<body onload="checkIfCesarWasUsedForEncryption()">
    <header>
        <a href="/encryption">Encryption</a>
        <a href="/users">Users</a>
        <a href="/register">Register</a>
        <!-- change between login and logout -->
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </header>
    <!-- to give some user feedback -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <li class="alert {{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; Copyright 2020 by Problemsolver</p>
    </footer>
    <!--to handle CSRF Protection on templates without forms-->
    <form method="post" action="/">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
    <script type="text/javascript" src="{{url_for('static', filename='script.js') }}"></script>
</body>