{% extends "basetemplate.html" %}
{% block title %}Verschlüsselung{% endblock %}
{% block content %}
<!-- Welcomes the logged User -->
<div class="welcomebox">
    <p>Willkommen {{ current_user }}!</p>
</div>
    
<div class="formwrapper">
    <h1 class="title">Verschl&uuml;sselung</h1>
    <form action="/encryption" method="POST">
        <div class="form-field" id='encryptiontype'>{{ form.encryptiontype.label }} {{ form.encryptiontype(**{"onchange":"changeOffsetVisibility()"}) }}
            {% if form.encryptiontype.errors %}
            <ul class="errors">
                {% for error in form.encryptiontype.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-field" id='offset'>{{ form.offset.label }} {{ form.offset }}
            {% if form.offset.errors %}
            <ul class="errors">
                {% for error in form.offset.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-field">{{ form.string_to_encrypt.label }} {{ form.string_to_encrypt }}
            {% if form.string_to_encrypt.errors %}
            <ul class="errors">
                {% for error in form.string_to_encrypt.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {{ form.submit }}
    </form>
</div>
{% endblock %}
