{% extends "basetemplate.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="formwrapper">
    <h1 class="title">Login</h1>
    <form class="pure-form pure-form-stacked" action="/" method="POST">
        {{ form.csrf_token }}
        <div class="form-field">
            {{ form.username.label }} {{ form.username }}
        </div>
        <div class="form-field">
            {{ form.password.label }} {{ form.password }}
        </div>
        {{ form.submit(class="pure-button pure-button-primary") }}
    </form>
</div>
{% endblock %}