{% extends "basetemplate.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="formwrapper">
    <h1 class="title">Register</h1>
    <div>
        <p>Here you can create an account for yourself or for other people.</p>
    </div>
    <form class="pure-form pure-form-stacked"  action="/register" method="POST">
        {{ form.csrf_token }}
        <div class="form-field">
            {{ form.username.label }} {{ form.username }}
        </div>
        <div class="form-field">
            {{ form.password.label }} {{ form.password }}
        </div>
        {{ form.submit(class="pure-button pure-button-primary")}}
    </form>
</div>
{% endblock %}