{% extends "basetemplate.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="formwrapper">
    <h1 class="title">Register</h1>
    <div>
        <p>Here you can create an account for you or for other people.</p>
    </div>
    <form action="/register" method="POST">
        {{ form.csrf_token }}
        <div class="form-field">
            {{ form.username.label }} {{ form.username }}
        </div>
        <div class="form-field">
            {{ form.password.label }} {{ form.password }}
        </div>
        {{ form.submit }}
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
            <div class="alert alert-error">
                Error in the field {{field}}: {{error}}
            </div>
            {% endfor %}
        {% endfor %}
    </form>
</div>
{% endblock %}