<ul class="pure-menu-list">
    <li class="pure-menu-item">
        <a class="pure-menu-link" href="/encryption">Encryption</a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" href="/users">Users</a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" href="/catfact">A Catfact</a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" href="/joke">A lame joke</a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" href="/register">Register</a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" href="/logout">Logout</a>
    </li>
</ul>